body{
  background-repeat: no-repeat;
  background-position:0cqh;
  background-color: white;
  color: black;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  background-image: url('../car_no_color.gif');
    background-size: 100px 100px ;
    background-repeat: no-repeat; 
    background-position: 98% 90%;
    background-attachment: fixed;
}
.reviewLine{
  background-color: white;
  color: black;
  text-align: center;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.reviewContainer h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.reviewContent {
  margin-bottom: 10px;
}

.reviewRating {
  font-weight: bold;
}

.reviewStats {
  margin-top: 10px;
}

.reviewStats p {
  margin: 5px 0;
}

.reviewStats p:first-child {
  margin-top: 0;
}

.reviewStats p:last-child {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}
