.bookingFormContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #dae3ec;
  color: black;;
}

.bookingFormContainer h2 {
  margin-bottom: 20px;
}

.bookingFormContainer form {
  display: flex;
  flex-direction: column;
}

.bookingFormContainer label {
  margin-bottom: 10px;
}

.bookingFormContainer input[type='text'],
.bookingFormContainer input[type='date'] {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.bookingFormContainer button {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.bookingFormContainer button:hover {
  background-color: #0056b3;
}


/* Add these styles to your BookingForm.css file */

.bookingFormContainer select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

/* Style the dropdown arrow */
.bookingFormContainer select::-ms-expand {
  display: none;
}

.bookingFormContainer select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
