
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 86vh;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    background-image: url('../car_no_color.gif');
    background-size: 100px 100px ;
    background-repeat: no-repeat; 
    background-position: 98% 90%;
    background-attachment: fixed;
}

.ServicesAndPrice{
    display:flex;
    padding:5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pricingBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}
.pricingList{
    list-style-type: none;
}

.bookingTable{
  display:flex;
  flex-direction: column;
}

.tableContainer {
  margin-top: 20px;
}

.bookingTable{
  width:100%;
}

th, td {
    padding: 10px;
    text-align: left;
  }

  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #0f0d0d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .bookingAndReview{
    display: flex;
    justify-content: space-around;
  }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  color: #0f0d0d;
  position:relative;
}

.close {
  position:absolute;
  top:0px;
  right: 6px;;
  /* position: inherit; */
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

textarea {
  width: 100%;
  min-height: 150px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white ;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.star {
  cursor: pointer;
}

.filled {
  color: gold; 
}
