@media only screen and (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: auto;
    background-color: #dae3ec;
    color: black;
    }

  .leftDiv {
    /* display: flex; */
      max-width: 100%;
      font-size: 30px;
      text-align: center;
      
  }

  .rightDiv {
      max-width: 100%;
      align-items: center;
  }

  .inputAndLabel {
      flex-direction: column; 
      padding: 5px; 
  }

  .btn {
      width: 100%; 
  }
}




@media only screen and (min-width: 601px) and (max-width: 900px) {
  .leftDiv {
      max-width: 40%;
  }
  
.container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 87vh;
  background-color: #dae3ec;
  color: black;
  }
 
.leftDiv {
  display: flex;
  align-content: flex-start;
  max-width: 25%;
  min-height: 60%;
  font-size:xx-large;
  font-size: 40px;
}
  
.rightDiv {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    width:100%;
  }
  form{
    display: flex;
    width:100%
  }
input{
  width:100%;
}
.passwordInput{
  width:100%;
}
.inputAndLabel{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.inputSubmit{ 
  max-width: 98%;
  justify-content: center;
  display: flex;
}
.btn{
  width: 95%;
}
.sendToLogin{
  text-align: center;
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

}

@media only screen and (min-width: 901px) {

.container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 87vh;
  background-color: #dae3ec;
  color: black;
  }
 
.leftDiv {
  display: flex;
  align-content: flex-start;
  max-width: 25%;
  min-height: 60%;
  font-size:xx-large;
  font-size: 40px;
}
  
.rightDiv {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    width:100%;
  }
  form{
    display: flex;
    width:100%
  }
input{
  width:100%;
}
.passwordInput{
  width:100%;
}
.inputAndLabel{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.inputSubmit{ 
  max-width: 98%;
  justify-content: center;
  display: flex;
}
.btn{
  width: 95%;
}
.sendToLogin{
  text-align: center;
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}
}